@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');
/*---------- PRESETS ----------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', serif;
}
html {
  overflow-x: hidden;
}
body {
  background: #fff;
  font-family: 'Lato', serif;
  font-size: 16px;
  color: #171717;
  position: relative;
  font-weight: 400;
  overflow-x: hidden;
  background: url('../../images/body-bg.png');
  background-repeat: repeat;
  background-size: inherit;
  background-attachment: inherit;
}
.floating {
  position: fixed;
  top: 160px;
  right: 20px;
  z-index: 1099;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}
.floating.sticky-top {
  top: 110px;
  width: 50px;
  height: 50px;
}
@media (max-width: 767px) {
  .floating {
    width: 40px;
    height: 40px;
    top: 120px;
  }
  .floating.sticky-top {
    top: 100px;
    width: 40px;
    height: 40px;
  }
}
.floating-messenger {
  position: fixed;
  top: 250px;
  right: 20px;
  z-index: 1099;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}
.floating-messenger.sticky-top {
  top: 170px;
  width: 50px;
  height: 50px;
}
@media (max-width: 767px) {
  .floating-messenger {
    width: 40px;
    height: 40px;
    top: 170px;
  }
  .floating-messenger.sticky-top {
    top: 150px;
    width: 40px;
    height: 40px;
  }
}
#header {
  background: #ffffff;
  color: #fff;
  z-index: 2001;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  position: relative;
  width: 100%;
}
#header a {
  color: #171717;
}
#header a.navbar-brand {
  -webkit-transition: all 300ms;
  transition: all 300ms;
}
#header .navbar-toggler .navbar-toggler-icon {
  color: #171717;
}
#header nav.navbar ul.navbar-nav li {
  text-align: center;
  padding: 10px 0;
  font-size: 16px;
  font-weight: 400;
}
#header nav.navbar ul.navbar-nav li a {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  padding: 0 1rem;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}
#header nav.navbar ul.navbar-nav li:hover a {
  color: #aea1ea;
}
#header .bg-menu {
  position: absolute;
  z-index: 1099;
  background: #fff;
  top: 100%;
  left: 0;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
}
#header a.navbar-brand img {
  height: auto;
}
#header ul.menu-movil li {
  padding: 10px 0;
}
#header ul.menu-movil li i {
  color: #171717;
}
#header.sticky {
  position: fixed;
  -webkit-animation: fadeInDown 600ms;
          animation: fadeInDown 600ms;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}
section#slider {
  background: #fff;
  padding: 0 1em 1em 1em;
}
header.header-section {
  font-size: 14px;
  font-weight: 400;
}
header.header-section h2 {
  font-size: 36px;
  font-weight: 700;
}
header.header-section h3 {
  font-size: 24px;
  font-weight: 700;
}
@media (min-width: 768px) and (max-width: 991px) {
  header.header-section .title-section {
    font-size: 36px;
  }
}
@media (max-width: 767px) {
  header.header-section .title-section {
    font-size: 30px;
  }
}
.row-contact {
  letter-spacing: 2px;
  color: #5f2039;
}
.row-contact .or-title {
  position: relative;
  color: #c0c0c0;
  letter-spacing: 0;
}
.row-contact .or-title:before,
.row-contact .or-title:after {
  content: "";
  position: absolute;
  width: 2px;
  height: 35px;
  background-color: #c0c0c0;
  opacity: 0.6;
}
.row-contact .or-title:before {
  top: -50px;
  right: 50%;
  -webkit-transform: translateX(50%);
  transform: translateX(50%);
}
.row-contact .or-title:after {
  bottom: -50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
footer#footer {
  background: #171717;
  color: #fff;
  font-size: 18px;
  position: relative;
  overflow: hidden;
}
footer#footer .container {
  position: relative;
  z-index: 1;
}
footer#footer a {
  color: #fff;
}
footer#footer a:hover {
  color: #fff;
}
footer#footer a.btn-link {
  color: #4f3676;
  text-decoration: underline;
}
footer#footer a.btn-link:hover {
  color: #fff;
}
footer#footer .title-section {
  font-size: 40px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
@media (max-width: 767px) {
  footer#footer .title-section {
    font-size: 40px;
  }
}
footer#footer div#particles-footer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0;
}
section#copyright {
  background: #171717;
  color: #fff;
  font-size: 14px;
}
section#copyright a {
  color: #fff;
}
.loading {
  width: 100%;
  height: 100%;
  position: fixed;
  background: #4f3676;
  z-index: 9999;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  color: #979797;
  font-size: 12px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}
.loading .loading-logo {
  position: absolute;
  text-align: center;
}
.loading .loading-logo img {
  -webkit-animation: fadeIn 1s;
          animation: fadeIn 1s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
.loading .loading-logo p {
  opacity: .3;
  -webkit-animation: pulsa 600ms infinite alternate;
          animation: pulsa 600ms infinite alternate;
  font-size: 14px;
}
@-webkit-keyframes pulsa {
  to {
    opacity: 1;
  }
}
@keyframes pulsa {
  to {
    opacity: 1;
  }
}
canvas {
  display: block;
}
.bg-gray {
  background: #c0c0c0;
}
.bg-black {
  background: #171717;
}
a {
  color: #4f3676;
}
a:focus,
a:active {
  border: 0;
  outline: none;
}
a:hover {
  text-decoration: none;
}
a,
a:active,
a:focus,
button:focus,
button:active {
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
.btn.btn-default {
  color: #fff;
  background: #171717;
  border: 0;
  border-radius: 0px;
  padding: 8px 20px;
  font-size: 20px;
}
.btn.btn-default:hover {
  background: #4f3676;
}
.btn.btn-primary {
  background: #fff;
  color: #171717;
  border: 1px solid #fff;
  padding: 12px 30px;
  border-radius: 0;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}
.btn.btn-primary:hover {
  background: transparent;
  color: #fff;
}
.btn.btn-primary.btn-bordered {
  background: transparent;
  color: #fff;
}
.btn.btn-primary.btn-bordered:hover {
  background: #fff;
  color: #171717;
}
.btn.btn-secondary {
  background: #fff;
  color: #171717;
  font-size: 18px;
}
.btn.btn-full {
  width: 100%;
}
.form-control {
  background: #fff;
  color: #171717;
  border: 0;
  border-radius: 0;
  position: relative;
}
.form-control.resalta {
  box-shadow: 0 0 10px #4f3676;
  -webkit-animation: pulse .5s;
          animation: pulse .5s;
}
/*
::placeholder {
  color: @white !important;
}
*/
button.close {
  position: relative;
  z-index: 9999;
  opacity: .8;
  right: 10px;
  top: 0px;
  font-size: 24px;
  font-weight: 300;
}
button.close:hover {
  -webkit-animation: rubberBand 1s;
          animation: rubberBand 1s;
}
.scrollup {
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 55px;
  right: 40px;
  display: none;
  z-index: 999;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  -webkit-transition: background 300ms;
  transition: background 300ms;
}
.scrollup:before {
  content: "\f062";
  font-family: "Font Awesome\ 5 Free";
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 3px;
  width: 38px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}
.scrollup:hover {
  background-color: #171717;
}
